tests/SCA/phpunit/eBaySoap/bogus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns2="http://EmailService" xmlns:tns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://EmailService">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EmailService" elementFormDefault="qualified">
      <xs:element name="send">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="to" type="xs:string" nillable="true"/>
            <xs:element name="from" type="xs:string" nillable="true"/>
            <xs:element name="subject" type="xs:string" nillable="true"/>
            <xs:element name="message" type="xs:string" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sendReturn" type="xs:boolean" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="sendRequest">
    <part name="sendRequest" element="tns2:send"/>
  </message>
  <message name="sendResponse">
    <part name="return" element="tns2:sendResponse"/>
  </message>
  <portType name="EmailServicePortType">
    <operation name="send">
      <input message="tns2:sendRequest"/>
      <output message="tns2:sendResponse"/>
    </operation>
  </portType>
  <binding name="EmailServiceBinding" type="tns2:EmailServicePortType">
    <operation name="send">
      <input>
        <tns3:body xsi:type="tns3:tBody" use="literal"/>
      </input>
      <output>
        <tns3:body xsi:type="tns3:tBody" use="literal"/>
      </output>
      <tns3:operation xsi:type="tns3:tOperation" soapAction=""/>
    </operation>
    <tns3:binding xsi:type="tns3:tBinding" transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  </binding>
  <service name="EmailServiceService">
    <port name="EmailServicePort" binding="tns2:EmailServiceBinding">
      <tns3:address xsi:type="tns3:tAddress" location="http://paddy.hursley.ibm.com/Demos/PHPQuebec2007/emailsimpleref/EmailService.php"/>
    </port>
  </service>
</definitions>
<!-- this line identifies this file as WSDL generated by SCA for PHP. Do not remove -->