tests/XMLDAS/PHPUnitTests/contractor_only.xsd

<xsd:schema  
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:sdo="commonj.sdo"
  xmlns:sdoxml="commonj.sdo/xml"
  xmlns:company="companyNS"
  targetNamespace="companyNS">
  <xsd:complexType name="ContractorType">
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="agency" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
