tests/SCA/phpunit/MessageBinding/MS_TestServiceSDO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns2="http://MS_TestServiceSDO" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://MS_TestServiceSDO">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
      xmlns:ns0="http://example.org/names"
      targetNamespace="http://MS_TestServiceSDO"
      elementFormDefault="qualified">
      <xs:import schemaLocation="./names.xsd" namespace="http://example.org/names"/>
      <xs:element name="greetEveryone">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="text" type="xs:string"/>
            <xs:element name="names" type="ns0:people"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="greetEveryoneResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="greetEveryoneReturn" type="ns0:people"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="greetEveryoneRequest">
    <part name="greetEveryoneRequest" element="tns2:greetEveryone"/>
  </message>
  <message name="greetEveryoneResponse">
    <part name="return" element="tns2:greetEveryoneResponse"/>
  </message>
  <portType name="MS_TestServiceSDOPortType">
    <operation name="greetEveryone">
      <input message="tns2:greetEveryoneRequest"/>
      <output message="tns2:greetEveryoneResponse"/>
    </operation>
  </portType>
  <binding name="MS_TestServiceSDOBinding" type="tns2:MS_TestServiceSDOPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="greetEveryone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MS_TestServiceSDOService">
    <port name="MS_TestServiceSDOPort" binding="tns2:MS_TestServiceSDOBinding">
      <soap:address location="http://localhostMS_TestServiceSDO.php"/>
    </port>
  </service>
</definitions>

<!-- this line identifies this file as WSDL generated by SCA for PHP. Do not remove -->
